# Ignorar carpetas y archivos compilados de Python
__pycache__/
*.pyc

# Ignorar entornos virtuales
env/
venv/

# Ignorar configuraciones locales de VS Code
.vscode/

# Ignorar resultados temporales o de análisis
results/
plots/
SEGUIMIENTO/
model/
runs/
TO_DO.txt

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
snake_QDL-main.code-workspace